body{
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.profile{
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 50px;
    margin: 5px;
    overflow: hidden;
    
  
}
.name{
    text-decoration: none;
    color: white;
}
